/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* my css code starts here*/ 
body{
  width:100%;
}

.contain{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:9999;
  margin-bottom: 2vh; 
}
.navbar{
  
  box-shadow: 3px 3px 3px 3px lightgrey;
  background: purple;
  margin: 5px;
  border-radius: 5px;
}

.navbar-toggler {
    border: 0 !important;
    
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    color:purple;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
    
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
    
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
   
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color:purple;
}

.list li{
  margin: 2vh;
  font-size: 18px;
  font-weight: bolder;
}

.list a{
  text-decoration: none;
  color: purple;
}

.list a:active{
  color: black;
}

.list a:hover{
  color:red;
}


.container{
  margin:2vh;
  border-radius: 5px;
}

.holder{
  background: #dee3e0;
  padding-top:0;
  padding-bottom: 10px
  width:100%;
}

.img1{
  height: 20vh;
  width: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.logo-name{
  text-transform: capitalize;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
.logo-name1{
  text-align: center;
  margin: 5% 30% 5% 30%;
  font-family: 'Acme', sans-serif;
}

.hello{
  background-color: #dee3e0;
  font-family: 'acme', sans-serif;
  position: relative;
  top:30px;
  margin-left:60px;
  padding-left: 4px;
  z-index: 2;
}

.article a{
  text-decoration:none;
  border-bottom: 2px solid purple;
  color: black;
  font-size: 25px;
  display: inline;
}
.article a:active{
  border:1px solid black;
}
.article li{
  margin-bottom: 6vh;
  display: inline;
  margin: 2vh;
  font-family: 'saira condensed', sans-serif;
}


.hor{
  margin-left:35px;
}
.abt{
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
  line-height: 4vh;
  font-family: 'Luxurious Roman', cursive;
}




div.abt span {
  margin-left: 40px;
}

.hor1{
  margin-left: 10%;
  margin-right: 10%;
  margin-top:5vh;
  margin-bottom: 5vh;
}

.s-media{
  text-align: center;
  margin-right: 7%;
  
}
.s-media ul{
  text-align: center;
}
.s-media li{
  display: inline;
  font-size: 20px;
  margin: 1%;
  background: white;
  padding: 7px;
  border-radius: 6px;
}
.s-media a{
  color:purple;
}
.s-media a:hover{
  color: red;
}
.info{
  text-align: center;
  margin: 10px;
  margin-bottom: 5vh;
}
.info span{
  font-family: 'Saira Condensed', sans-serif;
}

.p-info{
  font-family: 'acme', sans-serif;
  margin: 6%;
  font-size: 25px;
}

.website{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}


.phone{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}


.mail{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}
.mail1{
  font-size: 18px;
  font-family: 'Saira Condensed', sans-serif;
}
.locate{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}

div.lang{
    padding-top: 2vh;
  padding-bottom: 8vh;
  background: white;
  text-align: center;
  margin: 20px 25px 35px 25px;
  border-radius: 15px;
  border-left: 3px solid purple;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
div.lang span{
  font-family: 'Saira Condensed', sans-serif;
}

.lang1{
  font-family: 'acme', sans-serif;
  margin-bottom: 5vh;
  color: purple;
  font-size: 20px;
}
.eng{
  font-family: 'acme', sans-serif;
  margin: 2vh;
}
.nig{
  font-family: 'acme', sans-serif;
  margin: 2vh;
}
div.int{
  padding-top: 2vh;
  padding-bottom: 2vh;
  background: white;
  text-align: center;
  margin: 0 25px 35px 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
.interest{
  font-family: 'acme', sans-serif;
  margin-bottom: 3vh;
  color: purple;
  font-size: 20px;
}
div.int span  {
  font-family:'Saira Condensed', sans-serif;
  margin: 2vh;
}
.fa-lightbulb-on{
  color:green;
}
.contact-container{
  margin: 2vh;
  text-align: center;
}
.contact-container span{
  font-family: 'acme', sans-serif;
  margin-bottom: 3vh;
  color: purple;
  font-size: 20px;
}
.contact-container p{
 font-family: 'Saira condensed', sans-serif;
 font-size: 19px;
}

.form-container{
 text-align: center;
 background:
 padding: 10px;
}

.form-container input{
  margin: 2vh;
  padding:15px;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 3px 3px lightgrey;
  border-radius: 9px;
  border: 1px;
  outline: none;
}
.form-container input::placeholder{
  font-family: 'Saira condensed', sans-serif;
}

.form-container textarea{
  margin: 2vh;
  border-radius: 9px;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 3px 3px lightgrey;
  border:1px solid white;
  padding: 5px;
  outline: none;
}
.form-container textarea::placeholder{
  font-family: 'saira condensed', sans-serif;
}
.form-container button{
  padding: 2vh;
  color: purple;
  border: 1px solid lightgrey;
  font-weight:bold;
  margin-bottom: 3vh;
  border-radius:5px;
}
.footer-container{
  text-align: center;
  background: #dee3e0;
  padding: 3vh;
  margin-left:2vh;
  margin-right:2vh;
  font-size: 17px;
  border-radius: 2px;
}
.footer-container p{
  font-size: 3vh;
  font-family:  'Katibeh', cursive;
}
