/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* my css code starts here*/ 
body{
  width:100%;
  height: 1000vh;
background: 
}


.navigation{
  height: 8vh;
  background: white;
  margin-bottom: 7%;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 5px 5px 1px #dee3e0;
  position: sticky;
  top: 0;
  z-index:2;
}
.fa-align-right{
  float: right;
  margin: 10px;
  font-size: 5vh;
  color: purple;
}

.holder{
  background: #dee3e0;
  padding-top: 10px;
  padding-bottom: 8px;
}

.logo{
  margin-top: 5vh;
  margin-left: 44%;
  margin-right: 44%;
  padding: 5px;
  border: 7px solid purple;
}
.tony{
  background: #dee3e0;
  font-size: 1.5rem;
  position: relative;
  left:60%;
  padding: 5px 0 5px 0;
  font-family: 'Acme', sans-serif;
}
.logo-name{
  text-transform: capitalize;
  text-align: center;
  margin-top: 8px;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
.logo-name1{
  margin-top: 5px;
  text-align: center;
  background: white;
  margin: 5% 30% 5% 30%;
  padding: 13px;
  border-radius: 50px;
  font-family: 'Acme', sans-serif;
}

.hor{
  margin-left: 10%;
  margin-right: 10%;
  margin-top:5vh;
  margin-bottom: 5vh;
}

.s-media{
  text-align: center;
  margin: 10px;
}

.s-media li{
  display: inline;
  font-size: 20px;
  margin: 1.5%;
}
.s-media a{
  color:purple;
}
.s-media a:hover{
  color: red;
}
.info{
  text-align: center;
  margin: 10px;
  margin-bottom: 5vh;
}
.info span{
  font-family: 'Saira Condensed', sans-serif;
}

.p-info{
  font-family: 'acme', sans-serif;
  margin: 6%;
  font-size: 25px;
}

.website{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}


.phone{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}


.mail{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}
.mail1{
  font-size: 18px;
  font-family: 'Saira Condensed', sans-serif;
}
.locate{
  font-family: 'acme', sans-serif;
  font-size: 20px;
  margin: 2vh;
}

div.lang{
  padding-top: 2vh;
  padding-bottom: 8vh;
  background: white;
  text-align: center;
  margin: 0 25px 35px 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
div.lang span{
  font-family: 'Saira Condensed', sans-serif;
}

.lang1{
  font-family: 'acme', sans-serif;
  margin-bottom: 5vh;
  color: purple;
  font-size: 20px;
}
.eng{
  font-family: 'acme', sans-serif;
  margin: 2vh;
}
.nig{
  font-family: 'acme', sans-serif;
  margin: 2vh;
}

